## split_data.py - TEST

In [1]:
import pandas as pd
from datetime import timedelta, date

In [ ]:
sales_df = pd.read_csv("./data/raw/sales.csv", parse_dates=['date'])

In [ ]:
sales_df.head()

In [ ]:
min_date_sales = sales_df['date'].min()
min_date_sales

In [ ]:
max_date_sales= sales_df['date'].max()
max_date_sales

In [ ]:
ingestion_sim_start_date = max_date_sales - timedelta(days=30)
ingestion_sim_start_date

In [ ]:
train_sales_df = sales_df[sales_df['date'] < ingestion_sim_start_date]
daily_ingestion_sales_df = sales_df[sales_df['date'] >= ingestion_sim_start_date]

In [ ]:
len(train_sales_df), len(daily_ingestion_sales_df), len(sales_df)

In [ ]:
train_sales_dates = sorted(train_sales_df['date'].unique())
train_sales_dates

In [ ]:
test = train_sales_dates[0]
date_str = pd.to_datetime(test).strftime('%Y-%m-%d')
date_str, test

In [ ]:
daily_train_slice = train_sales_df[train_sales_df['date'] == test]
daily_train_slice

### initial_ingest.py - Test

In [2]:
date_str = "2024-08-27"
date_obj = pd.to_datetime(date_str).date()
date_obj

datetime.date(2024, 8, 27)

In [11]:
print(f"{12:02d}")

12

### transform_data - Test

In [5]:
date.fromisoformat("2024-06-27").day

27

In [7]:
parquet_file = pd.read_parquet("./test_parquet.parquet")

In [8]:
parquet_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6628 entries, 0 to 6627
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6628 non-null   int64
 1   date        6628 non-null   datetime64[ns]
 2   item_id     6628 non-null   object
 3   quantity    6628 non-null   float64
 4   price_base  6628 non-null   float64
 5   sum_total   6628 non-null   float64
 6   store_id    6628 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 362.6+ KB

In [9]:
parquet_file.iloc[0]

Unnamed: 0               15978960
date          2022-08-28 00:00:00
item_id              f425b0812091
quantity                      1.0
price_base                   49.9
sum_total                    49.9
store_id                        2
Name: 0, dtype: object

In [11]:
df = pd.read_csv("./data/split/markdowns.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8979 entries, 0 to 8978
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    8979 non-null   int64
 1   date          8979 non-null   object
 2   item_id       8979 non-null   object
 3   normal_price  8979 non-null   float64
 4   price         8979 non-null   float64
 5   quantity      8979 non-null   float64
 6   store_id      8979 non-null   int64
dtypes: float64(3), int64(2), object(2)
memory usage: 491.2+ KB